page-register {
  .toolbar-background {
    background-color: #000000;
  }

  .eye-icon {
    font-size: 2em;
    color: #f9b32f;
  }

  .welcome {
    text-align: center;
    color: #999;
    font-size: 11px;
    margin-top: 20px;
  }

  .estilo {
    color: #60b0ad;
    text-decoration: none;
    font-weight: bold;
  }

  .botao {
    margin-top: 15px;
  }

  .back-button {
    color: #fff;
  }

  form ion-list {
    margin-top: 0 !important;
  }
}
